<a href="https://colab.research.google.com/github/RCDirks/eda-data-analytic-salaries/blob/main/Exploratory_Data_Analysis_on_Data_Analytics_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis on Data Analytics Salaries

Rachel Dirks

This analysis explores salaries of data analytics professionals around the world to find patterns in the data. Specifically, the goal is to determine which factors influence pay rates around the world and learn more about what a career path might look like for somebody starting out in Data Analytics.

## About the data
This data set comes from Kaggle user [randomarnab](https://www.kaggle.com/datasets/arnabchaki/data-science-salaries-2023) and contains information about various roles in data analytics from around the world. The data was gathered in 2023 and contains details about each role's experience level, job title, salary, remote ratio, company location, and company size.

In [ ]:
import pandas as pd
df = pd.read_csv('data_analytics_salaries.csv')

## Analysis
The analysis below explores salaries of data analytics professionals. Specifically, it will explore the following different topics:

- How does experience level affect salary?
- How does experience level affect remote ratio?
- Which job titles are the most common in the United States and how does the job title affect salary?
- How have salaries changed between 2020 and 2022 for Data Analysts?
- Where are most data analytics positions located (according to this data set)? Which countries pay the most?
- What percent of employees are based in another country but are paid in USD?

One notable aspect of this data set is the presence of both `salary` and `salary_in_usd` columns. The former details the salary for the position in the local currency where the company is based, whereas the latter column standardizes all of the salaries into USD. Thus, this analysis will exclusively use the `salary_in_usd` column for comparisons.

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

### How does experience level affect salary?
At first glance, experience level seems to be the obvious candidate for the most influential variable in determining salary for data analytics professionals. This analysis assumes that the experiences levels are, in order from least amount of experience to greatest:

1. EN - Entry level
2. MI - Mid-level
3. SE - Senior level
4. EX - Executive level

According to the output of the code below, average salary tends to increase, as hypothesized, as experience level increases. However, these figures may be skewed because part-time salaries are included in the data set. Because part-time workers are more likely to be entry level and mid-level, the lower salaries of these positions (which are caused by working few hours) should be removed for this part of the analysis.

In [ ]:
df[['experience_level', 'salary_in_usd']].groupby('experience_level').mean().sort_values(by='salary_in_usd')

The code below creates a subset of the data that contains only positions that were full time. Recalculating the average salary for each experience level among this new subset brought the average salaries closer together only slightly. The change in average salary was most unnoticeable.

In [ ]:
# Get a subset that only includes full time (FT)
df[df['employment_type'] == 'FT']

In [ ]:
# Average Full-Time Salary
full_time = df[df['employment_type'] == 'FT']
ft_en = df[(df['experience_level'] == 'EN') & (df['employment_type'] == 'FT')]
ft_en['salary_in_usd'].mean()

From this analysis, I can conclude that experience is necessary to obtaining a higher salary. Salaries tend to vary greatly across different experience levels, meaning that experience is likely very influential for determining a person's salary.

### How does experience level affect remote ratio?
When determining how much employees are allowed to work remotely, I immediately think that senior employees are given more liberty to work from home than employees with less experience.

However, according to the results of the code below...

Executive employees are given the most liberty to work from home with 79% able to work remotely and 69% of that having 100% remote. Senior level employees are next with 76% able to work from home and 71% of that having 100% ability to work from home. Entry level employees are next with 69% able to work from home and 56% of that having 100% ability to work from home. Mid-level employees are only slightly below Entry level employees at 63% being able to work from home and 54% of that having 100% ablity to work from home.

In [ ]:
# Remote ratio based on experience
entry = df[df['experience_level'] == 'EN']
remote_entry = entry['remote_ratio'].mean()
remote_entry

In [ ]:
entry['remote_ratio'].value_counts(normalize=True)

In [ ]:
mid = df[df['experience_level'] == 'MI']
remote_mid = mid['remote_ratio'].mean()
remote_mid

In [ ]:
mid['remote_ratio'].value_counts(normalize=True)

In [ ]:
senior = df[df['experience_level'] == 'SE']
remote_senior = senior['remote_ratio'].mean()
remote_senior

In [ ]:
senior['remote_ratio'].value_counts(normalize=True)

In [ ]:
exec = df[df['experience_level'] == 'EX']
remote_exec = exec['remote_ratio'].mean()
remote_exec

In [ ]:
exec['remote_ratio'].value_counts(normalize=True)

In [ ]:
remote_entry_20 = df[(df['experience_level'] == 'EN') & (df['work_year'] == 2020)]
remote_entry_20['remote_ratio'].mean()

In [ ]:
remote_entry_22 = df[(df['experience_level'] == 'EN') & (df['work_year'] == 2022)]
remote_entry_22['remote_ratio'].mean()

In [ ]:
remote_mid_20 = df[(df['experience_level'] == 'MI') & (df['work_year'] == 2020)]
remote_mid_20['remote_ratio'].mean()

In [ ]:
remote_mid_22 = df[(df['experience_level'] == 'MI') & (df['work_year'] == 2022)]
remote_mid_22['remote_ratio'].mean()

In [ ]:
remote_senior_20 = df[(df['experience_level'] == 'SE') & (df['work_year'] == 2020)]
remote_senior_20['remote_ratio'].mean()

In [ ]:
remote_senior_22 = df[(df['experience_level'] == 'SE') & (df['work_year'] == 2022)]
remote_senior_22['remote_ratio'].mean()

In [ ]:
remote_exec_20 = df[(df['experience_level'] == 'EX') & (df['work_year'] == 2020)]
remote_exec_20['remote_ratio'].mean()

In [ ]:
remote_exec_22 = df[(df['experience_level'] == 'EX') & (df['work_year'] == 2022)]
remote_exec_22['remote_ratio'].mean()

### Which job titles are the most common in the United States and how do they affect salary?

The top 5 job titles are Data Engineer, Data Scientist, Data Analyst, Machine Learning Engineer and Data Science Manager with the following salaries.

Data Engineer = $139,724.68

Data Scientist = $143,115.68

Data Analyst = $107,674.15

Machine Learning Engineer = $169,055.75

Data Science Manager = $165,327.70

However, after breaking it up I found that the top three titles were included at the entry, mid and senior levels. The top 5 titles are also not in the top 5 for earnings. The top five in earnings are as follows.

Data Analytics Lead	= $405,000.00 (senior level)

Principal Data Engineer	=	$328,333.33 (senior level)

Director of Data Science = $287,500.00 (senior level)

Financial Data Analyst = $275,000.00 (entry & mid level)

ML Engineer = $263,000.00 (mid & senior level)

The majority of which are senior level postions.

In [ ]:
# Frequency of job titles in the US
df[df['company_location'] == 'US'].value_counts('job_title')

In [ ]:
us_jobs = df[df['company_location'] == 'US']

In [ ]:
# Highest paying jobs in the US
us_jobs.groupby('job_title').mean('salary_in_usd').sort_values('salary_in_usd', ascending=False)

In [ ]:
df[df['company_location'] == 'US'].value_counts('job_title')

In [ ]:
# Frequency of job titles in the US by experience level
entry[entry['company_location'] == 'US'].value_counts('job_title')

In [ ]:
mid[mid['company_location'] == 'US'].value_counts('job_title')

In [ ]:
senior[senior['company_location'] == 'US'].value_counts('job_title')

In [ ]:
exec[exec['company_location'] == 'US'].value_counts('job_title')

In [ ]:
data_analyst_salaries_median = df[(df['company_location'] == 'US') & (df['job_title'] == 'Data Analyst')]
data_analyst_salaries_median['salary_in_usd'].median()

In [ ]:
data_analyst_salaries_stdev = df[(df['company_location'] == 'US') & (df['job_title'] == 'Machine Learning Engineer')]
data_analyst_salaries_stdev['salary_in_usd'].std()

In [ ]:
data_analyst_salaries_avg = df[(df['company_location'] == 'US') & (df['job_title'] == 'Data Engineer')]
data_analyst_salaries_avg['salary_in_usd'].mean()

### How have salaries changed between 2020 and 2022 for Data Analysts?

As a whole salaries have risen. The average salary has risen almost $30,000.00.

The median salary has risen over almost $45,000.00.

The most common salary in 2020 was $79,833.00.

The most common salary in 2022 was $100,000.00.

In [ ]:
work_year_2020 = df[df['work_year'] == 2020]
work_year_2020['salary_in_usd'].value_counts()

In [ ]:
work_year_2020['salary_in_usd'].mean()

In [ ]:
work_year_2020['salary_in_usd'].median()

In [ ]:
work_year_2022 = df[df['work_year'] == 2022]
work_year_2022['salary_in_usd'].value_counts()

In [ ]:
work_year_2022['salary_in_usd'].mean()

In [ ]:
work_year_2022['salary_in_usd'].median()

In [ ]:
data_analyst_salaries_2021 = df[(df['work_year'] == 2021) & (df['job_title'] == 'Data Analyst')]
data_analyst_salaries_2021['salary_in_usd'].mean()

### Where are most data analytics positions located (according to this data set)? Which countries pay the most?

The US has the most data analytics jobs with 355 positions. The US also pays the most, they hold 19 of the top 20 spots for salary.

In [ ]:
df['company_location'].value_counts()

In [ ]:
df[['company_location', 'salary_in_usd']].sort_values(by= "salary_in_usd", ascending=False).head(20)

In [ ]:
df['company_location'].value_counts()

In [ ]:
# Where would I like to work
work_country = df[df['company_location'] == 'GB']
work_country['salary_in_usd'].mean()

In [ ]:
work_country['job_title'].value_counts()

### What percent of employees are based in another country but are paid in USD?
This is a tricky one.

To figure this out, I'll need to make a filter that gets out only employees that are in countries that are not the United States and whose salary currency is USD. Then, I can see how many rows that dataframe has and divide it by the number of rows in the original dataframe to get the answer.

Approximately 8% of employees are based outside of the US but are payed in US dollars.

In [ ]:
percent_of_employees = df[(df['company_location'] != 'US') & (df['salary_currency'] == 'USD')]

In [ ]:
percent_of_employees

In [ ]:
percent_of_employees.info()

In [ ]:
print(50/607)

In [ ]:
avg_salary_china = df[df['company_location'] == 'CH']
avg_salary_china['salary_in_usd'].mean()

## Conclusion
Salaries for data analysts as a whole have risen in the past two years. While entry postions can pay quite well, mid and senior level postions do pay more. Remote postions are also on the rise with most being at the senior level. The majority of the data analysts jobs are in the US, with the US having the highest salaries.